*{
    box-sizing: border-box;
}
header{
    height: 50px;
}
.logo{
    float: left;
}
.content{
    
    padding: 10px;
    margin: 10px;
    justify-content: space-evenly;
    
    float: right;
}
.content a{
    margin-left: 10px;
}
.main{
    background-image: url("Screenshot 2024-01-29 203002.png");
    height: 700px;
    
    background-size: cover;
    width: 100%;
}
.wapper{
    float: right;
    position: absolute;
    
}
 .main h1{
    text-align: right;
    color:#000;
    margin-right: 359px;
    padding-top: 75px;   
}
.main p{
    font-size: 17px;
    text-align: right;
    margin-right:100px;
    font-weight: 700;
}
.box{
    height: 250px;
    margin-top: 20px;
    padding: 20px 0px 15px;
    width: 22%;
    border: 1.5px solid red;
}
.box-content{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
} 